.app {
  height: 100%;
  width: 100%; 
}
.appMain {
  height: 100%;
  padding: 16px;
  display: flex;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 1690px) and (max-width: 3000px) {
  .mainContaints {
    width: 100%;
    margin: 0;
  }
}
