.headerStyle {
  padding-bottom: 13px;
}
.headerContainer {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.headerTop{
  background-color: rgba(248, 248, 242, 0.9);
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  padding: 15px 24px;
}
.logo { 
  width: 150px;
  cursor: pointer;
}
.headerTopNav {
  display: flex;
}
.headerTopNav :first-of-type {
  margin-right: 35px;
}
.headerTopNav a{
  cursor: pointer;
  margin-right: 35px;
  letter-spacing: 0.1em;
}
.signIn{
  font-weight: bold;
  align-items: center;
  color: rgba(97, 89, 89, 0.89);
  padding: 8px;
  text-decoration: none;
}
.signIn:hover {
  color:black;
  border-radius: 5px;
}
.signUp {
  align-items: center;
  padding: 8px 20px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(117, 116, 48);
  background-color: rgb(235, 225, 85);
  border-radius: 0.5em;
}
.signUp:hover {
  background-color: rgb(185, 178, 78);
}

.guest {
  align-items: center;
  /* text-align: center; */
  padding: 8px 20px;
  /* margin:; */
  font-weight: bold;
  text-decoration: none;
  color: rgb(117, 116, 48);
  background-color: rgb(235, 225, 85);
  border-radius: 0.5em;
  /* font-size: 13px; */
}


.guest::after {
  /* display: flex;
  content: "(企業様はこちらから)"; */
}
.guest:hover {
  background-color: rgb(185, 178, 78);
}

.description {
  align-items: center;
  font-weight: bold;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(97, 89, 89, 0.89);
}
.description:hover {
  background-color: rgb(166, 167, 152);
  border-radius: 5px;
}
.mainImg {
  width: 100%;
}

/* responsive */
@media screen and (max-width:1000px) {
.signIn {
  display: none;
}
.signUp {
  display: none;
}
.guest {
  display: none;
}
.description {
  display: none;
}

}
